/* COMMON-REGION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

:root {
    --var-title-purple: #4e3969;
}

header {
    padding: 5px 10px;
}

main {
    background-color: #f6f5f3;
    padding: 2rem;
}

footer {
    background-color: #7c69a4;
}

img {
    max-width: 100%;
    height: 100%;
}

/* END-COMMON-REGION */
/* DEBUG-REGION */

/* END-DEBUG-REGION */
/* UTILITIES-REGION */
.main-container {
    width: 480px;
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

.social-btn {
    background-color: white;
    padding: 5px 10px;
    box-shadow: gray 5px;
    border-radius: 15px;
    box-shadow: gray 10px;
}

/* END-UTILITIES-REGION */

#logo {
    font-family: "Nerko One", cursive;
    color: #ff9614;
    text-shadow: 1px 1px lightgray;
    font-size: 3rem;
    text-align: center;
}

#desserts {
    h4 {
        color: gray;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 2rem;
        color: var(--var-title-purple);
        margin-bottom: 1.5rem;


        span {
            display: none;
        }
    }

    h2 {
        margin-bottom: 2rem;
    }

    #description {
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 1px 1px lightgray;
        padding: 2rem;

        ul {
            list-style: none;

            li {
                margin-bottom: 1rem;
            }
        }
    }

    #social-bar {
        margin: 2rem 0;
        justify-content: space-between;

        .social-btn {
            box-shadow: 1px 1px lightgray;

            i {
                font-size: 1.5rem;
            }

            b {
                display: none;
            }

            a #fb-icon {
                color: #1a77f3;
            }

            a #twit-icon {
                color: #009eff;
            }

            a #ig-icon {
                color: #e15589;
            }

            a #pinterest-icon {
                color: red;
            }

            a #yt-icon {
                color: red;
            }
        }
    }

    #banner {
        display: none;
        margin-bottom: 2.5rem;
    }
}

#presentation {
    h1 {
        font-weight: 500;
    }

    .rule {
        border: 2px solid #ff9614;
        width: 15%;
        margin: 0.5rem 0 1.5rem 0;
    }

    img {
        margin: auto;
        display: block;
        margin-bottom: 1.5rem;
    }

    span {
        display: block;
        margin-bottom: 1.5rem;
    }
}

#foot-container {
    padding: 1.5rem;
    color: white;
    font-size: small;
    text-align: center;

    p {
        margin-top: 1rem;
    }

    ul {
        list-style: none;
        gap: 1rem;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            color: white;
        }
    }
}


/* RESPONSIVE-REGION */
@media screen and (min-width:768px) {
    #logo {
        text-align: left;
    }

    .main-container {
        width: 720px;
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }

    #desserts {
        h1 {
            font-size: 2.5rem;

        }

        .display {
            display: inline-block
        }

        #description {
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
            }
        }

        #banner {
            display: block;
            width: 100%;
        }

        .social-btn {
            padding: 0.5rem 2rem;
        }
    }

    #presentation {
        img {
            float: left;
            margin-right: 10px;
        }

        span {
            display: inline;

        }

    }

}

@media screen and (min-width:992px) {
    .main-container {
        width: 944px;
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }

    #desserts {
        h1 {
            font-size: 3.5rem;
        }

        .col-lg-8 {
            width: calc(100% / 12 * 8);
        }

        .col-lg-4 {
            width: calc(100% / 12 * 4);
        }

        #description {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0;

            h2 {
                padding-left: 2rem;
                padding-top: 2rem;
                margin: 0;
            }

            ul {
                display: block;
                padding: 2rem;
            }

        }

        #social-bar {
            flex-wrap: wrap;

            .social-btn {
                padding: 0.5rem 2rem;
                display: flex;
                align-items: center;
                font-size: 10px;

                b {
                    display: block;

                }
            }
        }
    }


    #foot-container {
        text-align: left;
        padding: 1rem;

        .col-lg-6 {
            width: calc(100% / 12 * 6);

        }

        ul {
            justify-content: end;
        }
    }

}

/* END-RESPONSIVE-REGION */